<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  <h1>
     My Quotes
  </h1>
  <hr>

    <img width="700" alt="Angular Logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCEI-o2HfxnMYmTGRrBgo1cYrHhCYNYLgdSekZAHa_c01yi030wg"><img width="400" alt="Angular Logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9TehdAQgaDUGsbBsUSgFQkNgmmEP7WsJckYnvFlPDZ-VUG-JNXg">
    <app-quote></app-quote>
  </div>
<!-- <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

